html
  head
    title Welcome to Ishank Website
    block scripts
    block style
  body
    nav#navbar
            ul  
                div#logo
                    img(src="../static/logo.png"  alt="")
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/contact") Contact us]
                li #[a(href="/") Service]
    block content
       
    footer#footer
            | Our Copyright@Ishankdance 